// colors
// ------

$background-color--body: #fff;
$color--body:            #111;

$opacity--faded: 0.5;

// typography
// ----------

$font-size--html:    16px;
$font-family--body:  'Eighteen', sans-serif;
$font-family--aside: monospace, sans-serif;
$line-height--body:  1.541667;

// sizing and spacing
// ------------------

$v: $line-height--body * 1rem;

// grid
// ----

$min-width--sm: 480px;
$min-width--md: 720px;
$min-width--lg: 960px;
$min-width--xl: 1200px;
$max-width--xs: ($min-width--sm - 1);
$max-width--sm: ($min-width--md - 1);
$max-width--md: ($min-width--lg - 1);
$max-width--lg: ($min-width--xl - 1);

$max-width--container: 1440px;

$gutter--sm: 1.5rem;
$gutter:     3rem;
