// import
// ------

@import 'fonts';
@import 'reset';
@import 'mixins';
@import 'variables';

// base
// ----

*,
*:before,
*:after {
  @include box-sizing(inherit);
}
html,
body {
  overflow-x: hidden;
}
html {
  height: 100%;
  @include box-sizing(border-box);
  font-size: $font-size--html;
  @include user-select(none);
  cursor: default;
}
body {
  font-family: $font-family--body;
  font-weight: 400;
  font-size: 1em;
  line-height: $line-height--body;
  background-color: $background-color--body;
  color: $color--body;
  overflow-x: hidden;
}
::-moz-selection {
  background-color: $color--body;
  color: $background-color--body;
}
::selection {
  background-color: $color--body;
  color: $background-color--body;
}
a {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px dotted rgba($color--body, $opacity--faded);
  &:hover {
    opacity: 0.5;
  }
}
.header {
  margin-top: $v*3;
  margin-bottom: $v*4.5;
  @include max-width($max-width--sm) {
    margin-top: $v*2;
  }
}
.footer {
  margin-top: $v*7.5;
  margin-bottom: $v*3;
}
.section {
  margin-bottom: $v*4.5;
}
.aside {
  font-family: $font-family--aside;
  font-size: $font-size--html*0.916667;
  opacity: $opacity--faded;
  line-height: $line-height--body;
  &:after {
    content: 'px';
  }
  margin-bottom: $v*0.5;
}
p {
  &:not(:first-of-type) {
    text-indent: 1.75em;
  }
  @include user-select(text);
  cursor: text;
}
.size--192 {
  font-size: 192px;
  line-height: 1.125;
}
.size--128 {
  font-size: 128px;
  line-height: 1.25;
}
.size--96 {
  font-size: 96px;
  line-height: 1.25;
}
.size--64 {
  font-size: 64px;
  line-height: 1.333333;
}
.size--48 {
  font-size: 48px;
  line-height: 1.333333;
}
.size--32 {
  font-size: 32px;
  line-height: 1.416667;
}
.size--24 {
  font-size: 24px;
  line-height: 1.5;
}
.size--21-3 {
  font-size: 21.333333px;
  line-height: 1.5;
}
.size--18 {
  font-size: 18px;
  line-height: 1.5;
}
.size--16 {
  font-size: 16px;
  line-height: 1.541667;
}
.columns--3 {
  @include column-gap($gutter);
  @include columns(3);
  @include max-width($max-width--md) {
    @include columns(2);
  }
  @include max-width($max-width--sm) {
    @include column-gap($gutter--sm);
  }
  @include max-width($max-width--xs) {
    @include columns(1);
  }
}
.columns--2 {
  @include column-gap($gutter);
  @include columns(2);
  @include max-width($max-width--lg) {
  }
  @include max-width($max-width--md) {
    @include columns(1);
  }
  @include max-width($max-width--sm) {
    @include column-gap($gutter--sm);
  }
}

// grid
// ----

.container {
  width: 100%;
  @include margin-center;
  padding-left: $gutter;
  padding-right: $gutter;
  @include max-width($max-width--sm) {
    padding-left: $gutter--sm;
    padding-right: $gutter--sm;
  }
  max-width: $max-width--container;
}
