<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@left_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@left_F</key>
	<array>
		<string>F</string>
		<string>P</string>
	</array>
	<key>@left_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@left_O</key>
	<array>
		<string>O</string>
		<string>D</string>
	</array>
	<key>@left_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@left_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@left_X</key>
	<array>
		<string>X</string>
		<string>K</string>
	</array>
	<key>@left_o</key>
	<array>
		<string>o</string>
		<string>p</string>
	</array>
	<key>@left_v</key>
	<array>
		<string>v</string>
		<string>w</string>
		<string>y</string>
	</array>
	<key>@left_x</key>
	<array>
		<string>x</string>
		<string>k</string>
	</array>
	<key>@right_A</key>
	<array>
		<string>A</string>
	</array>
	<key>@right_O</key>
	<array>
		<string>O</string>
		<string>C</string>
		<string>G</string>
		<string>Q</string>
	</array>
	<key>@right_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@right_V</key>
	<array>
		<string>V</string>
		<string>W</string>
	</array>
	<key>@right_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@right_o</key>
	<array>
		<string>o</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>q</string>
	</array>
	<key>@right_v</key>
	<array>
		<string>v</string>
		<string>y</string>
		<string>w</string>
	</array>
	<key>@right_x</key>
	<array>
		<string>x</string>
	</array>
</dict>
</plist>
